<style>
    a{
        text-decoration: none;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Renuka5637"><i class="fa-brands fa-github-alt"></i></a>
            <a href="mailto:renukaachari80@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/renuka-achari-7a28aa240/"><i class="fa-brands fa-linkedin-in"></i></a>


        </div>
        <div class="f-info-copyright"> &copy;StayBuddy Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>